ICAO/
NavData/
Other/
**/aeronav*
Settings/VoiceChannels.txt
Plugins/TopSky/Documentation
Plugins/TopSky/TopSkySettingsLocal.txt
Plugins/TopSky/TopSkyCPDLChoppieCode.txt
Plugins/TopSky SMART/Documentation
Plugins/TopSky SMART/TopSkySettingsLocal.txt
Plugins/TopSky SMART/TopSkyCPDLChoppieCode.txt
Plugins/vSID/vSID Plugin/logs
Plugins/ShortMetar/*.txt
